extends layout.pug
block article
    article.content__article
        header.content__article__header           
        .content__article__tab
            .content__article__tab__header        
                button#defaultOpen.tablink(onclick="openPage('insta', this)") instagram
                button.tablink(onclick="openPage('blog', this)") blog
                button.tablink(onclick="openPage('poesiadeluta', this)") poesia de luta
                button.tablink(onclick="openPage('livros', this)") livros
            .content__article__tab__content
                +api_tabcontent("insta", null)
                +api_tabcontent("blog", "um post")
                +api_tabcontent("poesiadeluta", "uma poesia")
                +api_tabcontent("livros", "um livro")