extends layout.pug
block article
    article.content__article
        header.content__article__header
            h2 #{htmlWebpackPlugin.options.title}
        .content__article__tab
            .content__article__tab__header        
                button#defaultOpen.tablink(onclick="openPage('apresenta', this, 'white')") apresentação
                button.tablink(onclick="openPage('cursos', this, 'white')") apresentação
                
            .content__article__tab__content
                #apresenta.tabcontent
                    .row        
                        p Para entender a sociedade capitalista é preciso se apropriar do conhecimento mais desenvolvido de nosso período histórico. Esse conhecimento, essencialmente, ainda é o de Marx. Mas a obra de Marx é enorme e complexa, por isso é necessário processos de mediação para que possa chegar aos trabalhadores, incentivando-os a buscar o conhecimento no original. É necessário uma educação que não se encontra nas escolas, educação política de classe, promovida por educadores da classe. O NEP (Núcleo de Educação Popular) 13 de Maio é uma organização que existe há mais de 40 anos dedicada à formação da classe trabalhadora. Desenvolveu uma pedagogia única na América Latina através de seus diversos cursos: dinâmico, participativo, dialogado e sem perder a profundidade necessária à compreensão dos temas abordados. Passei pela extensa formação de 2 anos para formadores políticos do 13 de Maio e posso ministrar seus cursos de formação.

                        p Além disso, ofereço também cursos e oficinas nas áreas de poesia, palhaçaria, educação e comunicação popular. Caso tenha interesse em algum curso ou queira saber mais, entre em contato!
                #cursos.tabcontent
                    .card-columns
                        .card
                            .card-body
                                h4.card-title COMO FUNCIONA A SOCIEDADE I
                                p.card-text
                                    | Aqui se dá a compreensão da base do funcionamento da sociedade capitalista: como se dá a produção da riqueza dentro de uma sociedade industrial que torna uns tão ricos e outros tão pobres? Que ideologia e consciência social gera uma sociedade como essa? Que transformações históricas conduziram a essa sociedade em que reina a propriedade privada dos meios de produção? Que possibilidades temos para superar esse modo de funcionamento? (15 a 30 participantes, 2 dias)
                        .card
                            .card-body
                                h4.card-title COMO FUNCIONA A SOCIEDADE II
                                p.card-text
                                    | As características fundamentais da competição capitalista de acordo com o pensamento liberal e com a percepção dos trabalhadores. A crise do Capital e a intervenção do Estado na economia. Perspectivas e desafios do movimento operário sindical. (15 a 30 participantes, 2 dias)
                        .card
                            .card-body
                                h4.card-title COMUNICAÇÃO E EXPRESSÃO
                                p.card-text
                                    | Compreensão da origem das dificuldades de se falar em público e pesquisa, através de exercícios práticos, sobre como podemos reverter esse processo. (15 a 20 participantes, 2 dias)
                        .card
                            .card-body
                                h4.card-title ANÁLISE DE CONJUNTURA
                                p.card-text
                                    | Como realizar a análise da conjuntura, partindo da compreensão da formação social, da composição de classes e de suas representações políticas.
                        .card
                            .card-body
                                h4.card-title PROCESSO DE CONSCIÊNCIA
                                p.card-text
                                    | Como alguém se torna militante? E por quê deixa de sê-lo? Dedicado ao estudo do processo pelo qual se move a consciência (alienação, consciência reivindicatória, consciência revolucionária) e suas formas de expressão e organização coletiva.
                        .card
                            .card-body
                                h4.card-title MÉTODO
                                p.card-text
                                    | Compreensão das bases do método em Marx para observar a realidade: materialismo, historicidade e dialética.
                        .card
                            .card-body
                                h4.card-title CURSOS DE ARTEDUCAÇÃO
                                p.card-text
                                    ul
                                        li Oficinas de improvisação (teatro esporte)
                                        li Oficinas/curso de introdução ao palhaço
                                        li Oficinas de leitura e produção poética
                                        li Oficinas/curso de comunicação popular
                                        li Oficinas/curso de educação popular

                                        