extends layout.pug
block article
    article.content__article
        h3 O voo
        p Ensinado por Martí de que “pátria é humanidade”, venho desde 2017 avoando pelo continente na minha Kombi “La poderosa III”, redescobrindo as Américas, sonhando a Pátria Grande que já existe em germe nas lutas comuns, na solidariedade de classe, na arte popular de rua e de luta. Quero revelar, para mim e pra todo o bando que me acompanha, uma América profunda, sem fronteiras em sua rebeldia e sonhos coletivos, terra que nos emana e irmana.