
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='shortcut icon', href='./img/favicon.ico')
    title #{htmlWebpackPlugin.options.title}
body
  .grid
    block header
        header.header
            block sidebar
                picture.header__logo
                    img(src='./img/logo.png', alt='logo EuPassarinho', width="150", height='150')
                    
                mixin link(href, name)
                    - var active = title= htmlWebpackPlugin.options.title
                    
                    li
                        a(href=href, class={active: name === active})= name 
                ul.header__menu__left
                    -
                    each val, index in {"index.html": "Olá!","projeto.html": "Projeto","poesia.html": "Poesia","palhacaria.html": "Palhaçaria","cursos.html": "Cursos","Contato.html": "Contato"}
                        +link(index, val)
            ul.header__menu__right
                li 
                    a(class='button', href='http://www.facebook.com/eupassarin')                        Facebook
                li 
                    a(class='button' href='http://www.instagram.com/jeffvasques_eupassarinho') Instagram
                li 
                    a(class='button' href='https://www.youtube.com/channel/UC2BHU9a0-7tVnr64-7qtoMw') Youtube  
                li Contato

    block content
        main.content
            
                                
            block article

    block right
        sidebar.right
            .right__menu
                

                
        
    //block footer
        footer.footer
            p Website by Denis Forigo