// Variáveis
$sm: 320px;
$md: 768px;
$lg: 992px;
$primary-color: darkred;
$secondary-color: #fbfbfb;
$secondary-color-dark: darken($secondary-color, 15%);
$secondary-color-darker: darken($secondary-color, 60%);
$ratio: 1;
$space0: 0.65rem;
$space1: 1rem;
$space2: 1.25rem;
$space3: 1.5rem;
$space4: 4rem;
$space5: 7.5rem;

$font-size: $space1;
$line-height: ($space1 * 1.4);

// GRID
$grid-width: 114rem;
$gutter-vertical: 1.5rem;
$gutter-horizontal: 1.5rem;

/* Transformando $space1 em 10px*/

body {
  box-sizing: border-box;
  font-size: 0.625rem;
  margin: 0 auto;
}

ul {
  padding: 0rem $space1 0 0;
  li {
    display: block;
    padding: $space1 0.5rem;
  }
}

%responsive-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.img-responsive{
  @extend %responsive-img;  
}

.float-left{
  display:block;
  float:left;
}

.thumbnail{
  padding: $space0;
  margin: 0 $space1 $space1 0;
  border:.55px solid $secondary-color-dark;
  border-radius: $space0/2;
}