/* Tipografia */
$sans-serif-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$serif-font: Georgia, serif;

body {
  font-family: $serif-font;
  color: black;
}

p {
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: $line-height;
}

a {
  color: $secondary-color-darker;
  text-decoration: none;
  &.button:hover {
    background-color:white;
  }
  &.active, &:hover{
    color: $primary-color;
    font-weight:bolder;
  }
}

.header{
  &__menu{
    font-family: $sans-serif-font;
    a{
      font-size: $space2;
    }
  }
}

h1 {
  font-weight: 100;
  font-size: $space4 * 1.06;
}

h2 {
  font-size: $space2;
  font-weight: 300;
  letter-spacing: $space0 * 0.05;
  color: $primary-color;
}

h3 {
  font-weight: 100;
  font-size: $space3;
}

h4 {
  font-size: $space2;
  font-weight: 100;
  color: $primary-color;
}

footer {
  p {
    font-size: $space0;
  }
}

ul {
  li {
    font-size: $space1;
    color: $primary-color;
  }
}

blockquote {
  font-family: $serif-font;
  font-style: italic;
  text-align: left;
  margin: $line-height 0;
  padding: 0 $line-height;
  color: $primary-color;
  font-size: $font-size * 1.2;
  line-height: $line-height * 1.15;
  border-left: 3px solid $secondary-color-dark;
  cite{
    display: block;
    margin: $space1 0;
    font-style: normal;
    font-size: $font-size;
    color: darken($secondary-color,45%);
  }
}
