/* Tipografia */

body {
  font-family: Georgia, serif;
  color: black;
}

p {
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: $line-height;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    background-color: $primary-color;
    text-decoration: none;
    color: white;
  }
}

h1 {
  font-weight: 100;
  font-size: $space4 * 1.06;
}

h2 {
  font-size: $space2;
  font-weight: 300;
  letter-spacing: $space0 * 0.05;
  color: $primary-color;
}

h3 {
  font-weight: 100;
  font-size: $space3;
}

h4 {
  font-size: $space2;
  font-weight: 100;
  color: $primary-color;
}

footer {
  p {
    font-size: $space0;
  }
}

ul {
  li {
    font-size: $space1;
    color: $primary-color;
  }
}

blockquote {
  font-family: Georgia, "serif";
  font-style: italic;
  text-align: left;
  margin: $line-height 0;
  padding: 0 $line-height;
  color: $primary-color;
  font-size: $font-size * 1.2;
  line-height: $line-height * 1.15;
  border-left: 3px solid $secondary-color;
  cite{
    display: block;
    margin: $space1 0;
    font-style: normal;
    font-size: $font-size;
    color: darken($secondary-color,45%);
  }
}
