@import "mixins";
@import "reset";
@import "animation";
@import "base";
@import "grid";
@import "cards";
@import "typography";
@import "components";
/* Layout geral do portifolio */

$grid-mobil: "gHeader" "gContent" "gRight" "gFooter";
$grid-desktop: "gHeader gHeader gHeader gHeader gHeader gHeader gHeader gHeader gHeader gHeader gHeader gHeader" "gContent gContent gContent gContent gContent gContent gContent gContent gContent gContent gRight gRight" "gFooter gFooter gFooter gFooter gFooter gFooter gFooter gFooter gFooter gFooter gFooter gFooter";
.grid {
  position: absolute;
  background-color: $secondary-color;
  display: grid;
  grid-template-areas: $grid-mobil;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-gap: $space1;
  @media screen and (min-width: $md) {
    grid-template-areas: $grid-desktop;
    grid-template-rows: 4.2rem auto $space3;
  }
}

.header {
  grid-area: gHeader;
  background-color: lighten($secondary-color, 5%);
  border-bottom: 1px solid $secondary-color-dark;
  display: grid;
  grid-template-areas: "logo menuLeft menuLeft menuLeft menuLeft menuLeft menuRight menuRight menuRight menuRight menuRight menuRight";
  grid-template-rows: auto 3.2rem auto;
  &__logo {
    float: left;
    text-align: center;
    grid-area: logo;
    margin: $space1;
    img {
      border-radius: $space1;
      background-color: white;
      border: 1px double $primary-color;
    }
  }
  &__menu {
    &__right {
      margin-top: 1rem;
      grid-area: menuRight;
      display: flex;
      li {
        padding: $space1;
        display: inline;
      }
    }
    &__left {
      margin-top: 1rem;
      grid-area: menuLeft;
      display: flex;
      li {
        display: inline;
        padding: $space1;
      }
    }
  }
}

.content {
  grid-area: gContent;
  display: grid;
  grid-template-areas: "gMenu" "gArticle";
  grid-auto-columns: 1fr;
  @media screen and (min-width: $md) {
    grid-template-areas: ". gArticle gArticle gArticle gArticle";
  } // Menu lateral direito
  &__sidebar {
    margin: -5rem $space1 0 0;
    background-color: white;
    border-right: 1px solid $secondary-color-dark;
    img {
      text-align: center;
    }
    &__menu {
      grid-area: gMenu;
      margin: 0.5rem $space1;
      .active {
        margin: 0rem -2.1rem 0rem -2rem;
        padding: 1.5rem 2.5rem;
        background-color: $secondary-color;
        border-top: 1px solid $secondary-color-dark;
        border-bottom: 1px solid $secondary-color-dark;
        border-right: 1px solid $secondary-color;
      }
    }
  } //Conteúdo
  &__article {
    background-color: white;
    grid-area: gArticle;
    &__header {
      background-color: $secondary-color;
      padding: $space3 0 $space1 0;
      text-transform: uppercase;
      text-align: center;
    }
    &__tab {
      &__header {
        border: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      }
      &__content {
        border: 1px solid $secondary-color-dark;
      }
    }
  }
}

.right {
  grid-area: gRight;
  display: grid;
  grid-template-areas: "gBlog" "gPoesia";
  grid-auto-columns: 1fr;
  margin-right: 2rem;
  @media screen and (min-width: $md) {
    grid-template-areas: "gBlog gPoesia";
    padding: 0.5rem;
  }
}

.footer {
  grid-area: gFooter;
  position: absolute;
  bottom: 0;
  width: 100vmax;
}